---
layout: page
title: generic.contribute
permalink: /contribute/
---

<p>{% t contribute.introduction %}</p>

<div class="container-fluid">
  <div class="row pb-4">
    {% include contribute-card.html icon="fa-globe" url="https://www.transifex.com/antennapod/antennapod/" item="translate" %}
    {% include contribute-card.html icon="fa-comment" url="https://forum.antennapod.org/" item="support" %}
    {% include contribute-card.html icon="fa-vial" url="/documentation/general/beta" item="test" %}
    {% include contribute-card.html icon="fa-code" url="https://github.com/AntennaPod/AntennaPod" item="develop" %}
  </div>
</div>
