---
layout: default
---

<div class="container-fluid">
  <div class="container py-5">
    <div class="row">
      <div class="col-8">
      </div>
      <div class="col-4">
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="container py-5">
    <h1 class="weight-700" id="screenshots">Screenshots</h1>
    <div class="row">
      <div class="col-12 col-lg-4 col-md-6 mb-3 mb-md-0">

        {% capture gallery %}images/screenshots/{{ site.lang }}{% endcapture %}

        {% assign files = site.static_files %}

        <div id="carouselScreenshots" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">

            {% assign is_first = true %}
            {% for image in files %}
            {% if image.path contains gallery %}
            <div class="carousel-item {% if is_first == true %}active{% assign is_first = false %}{% endif %}">
              <figure>{{imgIndex}}
                <img src="{{ site.baseurl_root }}{{ image.path }}" class="d-block w-100" alt="screenshot">
              </figure>
            </div>
            {% endif %}
            {% endfor %}

          </div>
          <a class="carousel-control-prev" href="#carouselScreenshots" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselScreenshots" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
