<div class="modal fade" id="addToCalendarModal" tabindex="-1" aria-labelledby="addToCalendarModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addToCalendarModalLabel">{% t events.links.add-calendar %}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {%- t events.general.announce-add-calendar -%}
      </div>
      <div class="modal-footer border-0 pt-0">
        <button type="button" class="btn btn-secondary" onclick="copyUrl(event);" data-bs-toggle="tooltip" data-bs-trigger="manual" data-bs-title="{% t generic.accessibility.copied %}" data-copy-url="{{ calendar_subscription_url }}">{% t events.general.subscribe-all %}</button>
        {% comment %}
        Disabled: Davis does not yet support event-specific subscription links
        See https://github.com/tchapi/davis/issues/260
        {% if page.recurring == true -%}
        <button type="button" class="btn btn-primary" onclick="copyUrl(event);" data-bs-toggle="tooltip" data-bs-trigger="manual" data-bs-title="{% t generic.accessibility.copied %}" data-copy-url="{{ event_subscription_url }}">{% t events.general.subscribe-event %}</button>
        {%- elsif page.uid %}
        <a role="button" class="btn btn-primary" href="{{ event_ics_url }}">{% t events.general.download-ics %}</a>
        {%- endif %}
        {% endcomment %}
        <a role="button" class="btn btn-primary" href="{{ event_ics_url }}">{% t events.general.download-ics %}</a>
      </div>
    </div>
  </div>
</div>