<div id="breadcrumbs" class="pb-3">
    {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
    <a href="{{ site.baseurl }}">{% t generic.home %}</a>
    {% for crumb in crumbs offset: 1 %}
      {% if forloop.last %}
        / {% t page.title %}
      {% else %}
        / <a href="{% if site.lang != 'en' %}/{{ site.lang }}{% endif %}{% assign crumb_limit = forloop.index %}{% for crumb in crumbs offset: 1 limit: crumb_limit %}/{{ crumb }}{% endfor %}">{{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}</a>
      {% endif %}
    {% endfor %}
</div>
