<div id="card-{{ include.item.slug }}" class="col-12 col-md-3 mb-3 mb-md-3">
    <a class="text-decoration-none" href="
        {%- if include.item.external_redirect %}
            {{- include.item.external_redirect }}
        {%- else %}
            {%- if site.lang != 'en' %}/{{ site.lang }}{% endif %}
            {%- if include.item.redirect_to %}
                {{- include.item.redirect_to }}
            {%- else %}
                {{- include.item.url | replace:'.html','' }}
            {%- endif %}
        {%- endif -%}
        ">
        <div class="card shadow-sm project-card h-100 p-4">
            <i class="{{ include.item.icon }} fs-2 mb-3"></i>
            <h4 class="fw-bold">{% t {{include.item.texts}}.title %}</h4>
            {%- assign card-text-key = include.item.texts | append: ".card-text" -%}
            {%- capture card-text -%}{% t card-text-key %}{%- endcapture %}
            {%- unless card-text == empty %}
            <p>{{ card-text }}</p>
            {%- endunless %}
        </div>
    </a>
</div>
