<div class="container-fluid svg-wave no-padding">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#F7FAFC" fill-opacity="1"
            d="M0,160L80,181.3C160,203,320,245,480,245.3C640,245,800,203,960,197.3C1120,192,1280,224,1360,240L1440,256L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z">
        </path>
    </svg>
</div>
<footer>
    <div class="container-fluid pb-2 background-gray-100">
        <div class="container">
            <div class="row pt-2 mb-4 mb-lg-3 justify-content-between">
                <div class="col-12 col-lg-4 col-md-12 mb-3">
                    <div class="small mb-4 mb-lg-3"><a href="{{ site.baseurl }}"><img
                                src="{{ site.baseurl_root }}/assets/logos/logo.png" width="260px" /></a></div>
                    <p class="size-14 color-gray-900 mb-3">{% t footer.description %}</p>
                </div>
                <div class="col-0 col-lg-2"></div>
                <div class="col-6 col-lg-2 col-md-4 col-sm-4 mb-3">
                    <div class="small">
                        <div class="mb-2 size-16"><a class="color-gray-900"
                                href="{{ site.baseurl }}/about"><span>{% t titles.about %}</span></a></div>
                        <div class="mb-2 size-16"><a class="color-gray-900"
                                href="{{ site.baseurl }}/blog"><span>{% t titles.blog %}</span></a></div>
                        <div class="mb-2 size-16"><a class="color-gray-900"
                                href="{{ site.baseurl }}/contribute"><span>{% t titles.contribute %}</span></a></div>
                        <div class="mb-2 size-16"><a class="color-gray-900"
                                href="{{ site.baseurl }}/documentation"><span>{% t titles.documentation %}</span></a></div>
                    </div>
                </div>
                <div class="col-6 col-lg-2 col-md-4 col-sm-4 mb-3">
                    <div class="small">
                        <div class="mb-2 size-16"><a class="color-gray-900"
                                href="{{ site.baseurl }}/download"><span>{% t titles.download %}</span></a></div>
                        <!--<div class="mb-2 size-16"><a class="color-gray-900"
                                href="{{ site.baseurl }}/media-kit"><span>{% t titles.media-kit %}</span></a></div>-->
                    </div>
                </div>
                <div class="col-5 col-lg-2 col-md-4 col-sm-4">
                    {% if site.twitter_username %}
                    <p class="mb-2">
                        <a class="mr-2 color-gray-900" href="https://twitter.com/{{ site.twitter_username }}"
                            target="_blank" rel="noopener"><i class="fab fa-twitter mr-1"></i>Twitter</a>
                    </p>
                    {% endif %}
                    {% if site.mastodon_username %}
                    <p class="mb-2">
                        <a class="mr-2 color-gray-900" href="https://{{ site.mastodon_server }}/@{{ site.mastodon_username }}"
                            target="_blank" rel="me noopener"><i class="fab fa-mastodon mr-1"></i>Mastodon</a>
                    </p>
                    {% endif %}
                    {% if site.github_username %}
                    <p class="mb-2">
                        <a class="mr-2 color-gray-900" href="https://github.com/{{ site.github_username }}"
                            target="_blank" rel="noopener"><i class="fab fa-github mr-1"></i>GitHub</a>
                    </p>
                    {% endif %}
                    <p>
                        <a class="mr-2 color-gray-900" href="/rss.xml"
                            target="_blank" rel="noopener"><i class="fa fa-rss mr-1"></i>RSS</a>
                    </p>
                </div>
            </div>
            <p class="top-border mb-2"></p>
            <div class="d-block d-lg-flex justify-content-between pt-0 pb-3">
                <div class="small mb-2 mb-lg-0">
                    <span class="copyright">&copy;&nbsp;{{ 'now' | date: "%Y" }}&nbsp;{{ site.title }}</span>
                    <span class="copyright mx-2">|</span>
                    <span class="copyright"><a class="copyright underline-hover"
                            href="{{ site.baseurl }}/license">{% t titles.license %}</a></span>
                    <span class="copyright mx-2">|</span>
                    <span class="copyright"><a class="copyright underline-hover"
                            href="{{ site.baseurl }}/privacy">{% t titles.privacy %}</a></span>
                </div>
            </div>
        </div>
    </div>
</footer>
