<div class="container-fluid">
    <div class="container pt-3 pb-0">
        <div class="row justify-content-between align-items-center py-5">
            <div class="col-12 col-lg-6 order-2 order-lg-1">
                <h2 class="color-gray-900 hero-header">{% t homepage.header %}</h2>
                <p class="size-20 mb-4 color-gray-900">{% t homepage.description %}</p>
                <div class="row align-items-center">
                    <div class="col-12 col-xs-6">
                        <a href="{{ site.baseurl }}/download" class="hero mr-3 mb-3 mb-xs-0">{% t generic.download %}</a>
                        <a class="action" href="{{ site.baseurl }}/contribute">{% t generic.contribute %}</a>
                    </div>
                </div>
            </div>
            <div class="col-0 col-lg-1 order-2"></div>
            <div class="col-12 col-lg-5 order-1 order-lg-2 pl-lg-0 mb-4 mb-lg-0 d-none d-md-none d-lg-block text-center">
                <img class="phone" width="280" height="540" src="{{ site.baseurl_root }}/assets/images/screenshots/{{ site.lang }}/00.png" />
            </div>
        </div>
    </div>
</div>
