<div class="modal fade" id="icsModal" tabindex="-1" aria-labelledby="icsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="icsModalLabel">{% t events.links.add-calendar %}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% tf general/events-add-calendar-modal.md %}
      </div>
      <div class="modal-footer border-0 pt-0">
        <button type="button" class="btn btn-secondary" onclick="copyUrl(event);" data-bs-toggle="tooltip" data-bs-trigger="click" data-bs-title="{% t generic.accessibility.copied %}" data-copy-url="{{ include.calendar_subscription_url }}">{% t events.general.subscribe-all %}</button>
        {% if include.recurring == true -%}
        <button type="button" class="btn btn-primary" onclick="copyUrl(event);" data-bs-toggle="tooltip" data-bs-trigger="click" data-bs-title="{% t generic.accessibility.copied %}" data-copy-url="{{ include.event_subscription_url }}">{% t events.general.subscribe-event %}</button>
        {%- elsif include.ics %}
        <a role="button" class="btn btn-primary" href="{{ include.event_ics_url }}">{% t events.general.download-ics %}</a>
        {%- endif %}
      </div>
    </div>
  </div>
</div>