<div class="card mt-2 mb-2 review-card bg-transparent">
  <div class="card-body m-2 ms-5 me-5">
    <blockquote class="blockquote m-0">
    {{- include.review-text -}}
    </blockquote>
    <ul class="rating-list d-flex">
      {% assign fullStars = include.rating | floor %}
      {% for i in (1..fullStars) %}
      <li><i class="fa-solid fa-star text-warning"></i></li>
      {% endfor %}
      {% assign halfStar = include.rating | modulo: 1 | round %}
      {% if halfStar != 0 %}
      <li><i class="fa-solid fa-star-half-stroke text-warning"></i></li>
      {% endif %}
      {% assign emptyStars = 5 | minus: include.rating | floor %}
      {% for i in (1..emptyStars) %}
      <li><i class="fa-regular fa-star text-warning"></i></li>
      {% endfor %}
     </ul>
     <p class="text-secondary">{{- include.date | date: "%A %e %B %Y" -}}</p>
  </div>
</div>
