  {% assign canonical_url = page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url %}
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@graph": [
      {
        "@type": "Organization",
        "@id": "{{ site.url }}/#organization",
        "name": "{{ site.title }}",
        "url": "{{ site.url }}",
        "logo": {
          "@type": "ImageObject",
          "url": "{{ site.url }}/assets/branding/favicons/android-chrome-512x512.png"
        },
        "sameAs": [
          "https://github.com/{{ site.github_username }}",
          "https://{{ site.mastodon_server }}/@{{ site.mastodon_username }}",
          "https://bsky.app/profile/{{ site.bluesky_username }}",
          "https://twitter.com/{{ site.twitter_username }}"
        ]
      },
      {
        "@type": "WebSite",
        "@id": "{{ site.url }}/#website",
        "name": "{{ site.title }}",
        "url": "{{ site.url }}",
        "description": "{{ site.description | strip | escape }}",
        "inLanguage": "{{ site.lang }}"
      },
      {
        "@type": "WebPage",
        "@id": "{{ canonical_url }}#webpage",
        "url": "{{ canonical_url }}",
        "name": "{{ title | strip | escape }}",
        "description": "{{ description | strip | escape }}",
        "isPartOf": {
          "@id": "{{ site.url }}/#website"
        },
        "inLanguage": "{{ site.lang }}"
      }
      {% if page.layout == "blog" %}
      ,{
        "@type": "Article",
        "@id": "{{ canonical_url }}#article",
        "headline": "{{ page.title | strip | escape }}",
        "description": "{{ description | strip | escape }}",
        "url": "{{ canonical_url }}",
        "image": "{{ image }}",
        "datePublished": "{{ page.date | date_to_xmlschema }}",
        "dateModified": "{{ page.last_modified_at | default: page.date | date_to_xmlschema }}",
        "publisher": {
          "@id": "{{ site.url }}/#organization"
        },
        "mainEntityOfPage": {
          "@id": "{{ canonical_url }}#webpage"
        },
        "inLanguage": "{{ site.lang }}"
      }
      {% elsif page.layout == "doc" %}
      ,{
        "@type": "TechArticle",
        "@id": "{{ canonical_url }}#techarticle",
        "headline": "{{ title | strip | escape }}",
        "description": "{{ description | strip | escape }}",
        "url": "{{ canonical_url }}",
        "publisher": {
          "@id": "{{ site.url }}/#organization"
        },
        "mainEntityOfPage": {
          "@id": "{{ canonical_url }}#webpage"
        },
        "inLanguage": "{{ site.lang }}"
      }
      {% elsif page.url == "/" or page.url == "/index.html" %}
      ,{
        "@type": "SoftwareApplication",
        "@id": "{{ site.url }}/#software",
        "name": "{{ site.title }}",
        "applicationCategory": "MultimediaApplication",
        "operatingSystem": "Android",
        "description": "{{ site.description | strip | escape }}",
        "url": "{{ site.url }}",
        "publisher": {
          "@id": "{{ site.url }}/#organization"
        }
      }
      {% endif %}
    ]
  }
  </script>
