/* sarabun-regular - latin */
@font-face {
  font-family: "Sarabun";
  font-style: normal;
  font-weight: 400;
  src: local("Sarabun Regular"), local("Sarabun-Regular"),
    url("../fonts/sarabun/sarabun-v8-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/sarabun/sarabun-v8-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* sarabun-500 - latin */
@font-face {
  font-family: "Sarabun";
  font-style: normal;
  font-weight: 500;
  src: local("Sarabun Medium"), local("Sarabun-Medium"),
    url("../fonts/sarabun/sarabun-v8-latin-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/sarabun/sarabun-v8-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* sarabun-600 - latin */
@font-face {
  font-family: "Sarabun";
  font-style: normal;
  font-weight: 600;
  src: local("Sarabun SemiBold"), local("Sarabun-SemiBold"),
    url("../fonts/sarabun/sarabun-v8-latin-600.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/sarabun/sarabun-v8-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* sarabun-700 - latin */
@font-face {
  font-family: "Sarabun";
  font-style: normal;
  font-weight: 700;
  src: local("Sarabun Bold"), local("Sarabun-Bold"),
    url("../fonts/sarabun/sarabun-v8-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/sarabun/sarabun-v8-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
