/* sarabun-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/sarabun/Sarabun-Regular.ttf') format('truetype');
}

/* sarabun-500 - latin */
@font-face {
  font-display: swap;
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/sarabun/Sarabun-Medium.ttf') format('truetype');
}

/* sarabun-600 - latin */
@font-face {
  font-display: swap;
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/sarabun/Sarabun-SemiBold.ttf') format('truetype');
}

/* sarabun-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/sarabun/Sarabun-Bold.ttf') format('truetype');
}
