---
---
@charset "utf-8";
@import 'font';
@import 'colors';
@import 'bootstrap/bootstrap';
@import 'custom';

img.phone {
    border: 10px solid #888;
    border-top-width: 30px;
    border-bottom-width: 50px;
    border-radius: 20px;
    background: #000;
}

.half-phone {
    border: 10px solid #888;
    border-top-width: 30px;
    border-bottom: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: #000;
    max-height: 200px;
    overflow: hidden;
}
