---
---
@charset "utf-8";
@import 'font';
@import 'colors';
@import 'bootstrap/bootstrap';
@import 'custom';

img.phone {
    border: 10px solid #888;
    border-top-width: 30px;
    border-bottom-width: 50px;
    border-radius: 20px;
    background: #000;
}

.half-phone {
    border: 10px solid #888;
    border-top-width: 30px;
    border-bottom: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: #000;
    max-height: 200px;
    overflow: hidden;
}

#search-input {
    outline: none;
    cursor: auto;
    padding: 15px;
}

#search-input:focus, .project-card:hover {
    border-color: #666;
}

/* We don't need code and use it as buttons instead */
code.language-plaintext {
    padding: 0px 8px 2px 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
}

@media (prefers-color-scheme: dark) {
    :root {
        scrollbar-color: #333 #000;
    }

    body {
        color: #bbb;
        background-color: #111;
    }

    .nav-item:hover {
        background: #666;
    }
    .nav-item.active {
        background-color: #444;
    }
    .navbar-collapse > .navbar-nav > .nav-item > .nav-link {
        color: #bbb;
    }
    .navbar-collapse > .navbar-nav > .nav-item > .nav-link:hover {
        color: #fff;
    }

    .dropdown-toggle:after {
        filter: invert(0.8);
    }

    .navbar-toggler {
        filter: invert(1);
    }

    img.phone,
    img.half-phone {
        border-color: #333;
    }

    .post-content p {
        color: #bbb;
    }
    .project-card,
    .highlight-card {
        background-color: #000;
    }
    hr {
        border: none;
    }

    path {
        fill: #000;
    }

    #search-input {
        color: #fff;
    }

    .copyright {
        color: #bbb;
    }
    .copyright a:hover {
        color: #fff;
    }

    .post-header a,
    .post-content a {
        color: #bbf;
    }

    .overlay {
        background-color: #333;
    }
    .overlay a {
        color: #bbb;
    }
    .overlay a:hover {
       color: #000 !important;
    }

    .background-gray-100 {
        background-color: #000 !important;
    }
    .color-gray-900 {
        color: #bbb !important;
    }

}
