---
layout: internal
title: contribute.develop.title
excerpt: contribute.develop.text
---

<p>{% t contribute.develop.intro %}</p>

<div class="row pb-4">
  {% include contribute-card.html icon="fa-podcast" url="/develop/app" item="contribute.develop.categories.app.title" %}
  {% include contribute-card.html icon="fa-globe" url="/develop/website" item="contribute.develop.categories.website.title" %}
  {% include contribute-card.html icon="fa-network-wired" url="/develop/upstream" item="contribute.develop.categories.upstream.title" %}
</div>
