---
layout: page
title: contribute.develop.title
excerpt: contribute.develop.text
---

<p>{% t contribute.develop.intro %}</p>

<div class="row pb-4">
  {% include contribute-card.html icon="fa-podcast" url="/contribute/develop/app" item="develop.categories.app" %}
  {% include contribute-card.html icon="fa-globe" url="/contribute/develop/website" item="develop.categories.website" %}
  {% include contribute-card.html icon="fa-network-wired" url="/contribute/develop/upstream" item="develop.categories.upstream" %}
</div>
