<!DOCTYPE html>
<html lang="{{ site.lang }}">
<head>
  {% include head.html %}
</head>
<body dir="auto">
  <div class="content">
  {% include nav.html %}
  <div class="container-fluid" dir="ltr">
    <div class="container py-3">
      <div class="row no-gutters justify-content-center">
        <div class="col-lg-9 col-sm-12 pt-3">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb p-0" id="breadcrumbs">
              <li class="breadcrumb-item"><a href="/{% if site.lang != site.defaultLang %}{{ site.lang }}{% endif %}">{% t generic.home %}</a></li>
              <li class="breadcrumb-item"><a href="{% if site.lang != site.defaultLang %}/{{ site.lang }}{% endif %}/blog">{% t titles.blog %}</a></li>
              <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
            </ol>
          </nav>
          <div class="post">

            {% assign author = site.data.authors[page.author] %}

            <header class="post-header">
              <h1 class="size-36 weight-700 color-gray-900">{{ page.title }}</h1>
              {% assign words = page.content | number_of_words %}
              {% if words < 360 %}
              <p class="size-14 weight-600 color-gray-500">1 {% t readtime.singular %}</p>
              {% else %}
              <p class="size-14 weight-600 color-gray-500">{{ words | divided_by:150 }} {% t readtime.plural %}</p>
              {% endif %}
              <div class="row no-gutters align-items-center justify-content-between my-3">
                <p class="size-14 weight-700 color-gray-900 mb-0">
                  {% if author %}
                  <img class="round-img" src="{{ site.baseurl_root }}/assets/images/authors/{{ author.image }}" width="40" />
                  <a class="underline" href="{{ author.web }}" target="_blank" rel="noopener">{{ author.name }}</a>
                  {% endif %}
                  •
                  {% capture month %}{{ page.date | date: "%b" }}{% endcapture %}
                  {% t month.{{ month }} %} {{ page.date | date: "%-d, %Y"}}
                </p>
                {% include share.html %}
              </div>
            </header>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid" dir="ltr">
    <div class="container py-3">
      <div class="row no-gutters justify-content-center pb-4">
        <div class="col-lg-9">
          <article class="post-content pb-3">
            {{ content }}
          </article>
        </div>
      </div>
    </div>
  </div>
</div>
  {% include footer.html %}
</body>

</html>
