<!DOCTYPE html>
<html lang="{{ site.lang }}">
<head>
{% include head.html %}
</head>
<body>
<div class="content">
    {% include nav.html %}
    <div class="container-fluid">
        <div class="container py-4">
            <article class="post-content">
                {% include breadcrumbs.html %}
                {{ content | remove: "<!-- mdpo-disable -->" | remove: "<!-- mdpo-enable -->" | remove: "<!-- mdpo-disable-next-line -->" | remove: "<!-- mdpo-enable-next-line -->" }}
            </article>
            
            <div class="row justify-content-start pb-4">
            {% assign items = site.documentation | sort: 'title' | sort: 'order' %}
            {% for documentation in items %}
            {% if documentation.group == page.group and documentation.level > page.level %}
            {% include documentation-card.html item=documentation %}
            {% endif %}
            {% endfor %}
            </div>
            
        </div>
    </div>
</div>
    {% include footer.html %}
</body>

</html>
