<!DOCTYPE html>
<html lang="{{ site.lang }}">
<head>
{%- if page.external-link -%}
  <meta http-equiv="refresh" content="0; url={{ page.external-link }}">
</head>
</html>
{%- else -%}
{% include head.html %}
</head>
<body>
<div class="content">
    {% include nav.html %}
    <div class="container-fluid">
        <div class="container py-4">
            {% include breadcrumbs.html %}
            <article class="post-content">
                {{ content | remove: "<!-- mdpo-disable -->" | remove: "<!-- mdpo-enable -->" | remove: "<!-- mdpo-disable-next-line -->" | remove: "<!-- mdpo-enable-next-line -->" }}
            </article>
            
            <div class="row justify-content-start pb-4">
            {%- assign children = site.documentation | concat: site.contribute | where: "parent", page.slug | sort: 'title' | sort: 'order' %}
            {%- for child in children %}
                {% include contribute-card.html item=child %}
            {%- endfor %}
            </div>
            
        </div>
    </div>
</div>
    {% include footer.html %}
</body>

</html>
{%- endif %}
