---
layout: internal
---

{% capture nowunix %}{{ 'now' | date: '%s' }}{% endcapture %}
{% capture posttime %}{{ page.datetime-start | date: '%s' }}{% endcapture %}
{% if page.recurring != true %}
  {% if posttime > nowunix %}
    {% assign status = 'upcoming' %}
  {% else %}
    {% assign status = 'past' %}
  {% endif %}
{% endif %}

<div class="container-fluid bg-body-tertiary py-4">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-xl-7">
        <h1 class="fw-bold text-body mb-3">{{ page.title }}</h1>
        <p class="text-body-secondary fst-italic capitalise-first-letter mb-0">
          {% if page.recurring == true %}
            {% capture recurrence %}{% t events.recurrence.{{ page.recurrence-text}} %}{% endcapture %}
            {{ recurrence }}
          {% else %}
            <time datetime="{{ page.datetime-start }}">{% t long_month.{{ page.datetime-start | date: "%B" }} %} {{ page.datetime-start | date: "%-d, %Y %R" }}</time>
            ({%- if page.timezone -%}{{ page.timezone }}{% else %}UTC{% endif %})
          {% endif %}
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-xl-7">
        {% if page.summary %}<p class="lead mb-4">{{ page.summary }}</p>{% endif %}
        
        <article class="post-content">
          {{ content }}
        </article>

        <!-- Event Details Card -->
        <div class="card mt-5">
          <img class="card-img-top" src="/assets/{% if page.image %}images/events/{{ page.image }}{% else %}branding/covers/cover_001.png{% endif %}" loading="lazy" style="max-height: 15rem; object-fit: cover;" />
          {% for link in site.data.event-links %}
          {% if page[link.key] or link.key == 'ICS' %}{% unless page.location != 'online' and link.key == 'meeting-room' %}{% unless status == 'past' and link.key == 'meeting-room' %}{% unless status == 'past' and link.key == 'ICS' %}{% assign info_counter = info_counter | plus:1 %}{% endunless %}{% endunless %}{% endunless %}{% endif %}
          {% endfor %}
          {% assign info_counter = info_counter | minus:1 %}
          <div class="row m-0 text-center{% if info_counter > 3 %} row-cols-2{% endif %} overflow-hidden">
            {% for link in site.data.event-links %}
            {%- if page[link.key] or link.key == 'ICS' -%}
            {% unless page[link.key] == 'online' %}{% unless page.location != 'online' and link.key == 'meeting-room' %}{% unless status == 'past' and link.key == 'meeting-room' %}{% unless status == 'past' and link.key == 'ICS' %}
            {%- assign link-index = forloop.index0 %}
            {% if status == 'past' %}{% assign link-index = link-index | minus: 1 %}{% endif %}
            {% if info_counter > 3 %}
              {% assign link-index = link-index | modulo: 2 %}
            {% else %}
              {% assign link-index = link-index | modulo: 3 %}
            {% endif %}
            <div class="col py-3 border-top position-relative{% unless link-index == 0 %} border-start{% endunless %} hidden-border-margin-child">
              <a href="{% unless link.url contains 'http' or link.url == null %}{{ site.baseurl }}{% endunless %}{{ link.url }}{{ page[link.key] }}"{% unless link.key == 'ICS' %} class="stretched-link"{% endunless %}
              {%- if link.url contains 'http' or page[link.key] contains 'http' %}{% unless link.url contains 'antennapod.org' or page[link.key] contains 'antennapod.org' %} target="_blank"{% endunless %}{% endif %}
              {%- if link.key == 'ICS' %} data-bs-toggle="modal" data-bs-target="#icsModal"{% endif %}>
                <i class="fa-solid fa-{{ link.icon }} me-2"></i>{% t {{ link.text }} %}
              </a>
            </div>
            {% endunless %}{% endunless %}{% endunless %}{% endunless %}
            {%- endif -%}
            {% endfor %}
          </div>
        </div>

        {%- if status != 'past' %}
        <div class="card mt-4">
          <div class="card-body">
            <p class="card-text mb-0">
              {% t events.general.announce-add-calendar %}
            </p>
          </div>
        </div>
        {%- endif %}
      </div>
    </div>
  </div>
</div>

{% include ICS-modal.html %}
