---
layout: internal
---

<div class="container-fluid bg-body-tertiary py-4">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-xl-7">
        <h1 class="text-body fw-bold">{% t {{ page.title }} %}</h1>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-xl-7">
        <article class="post-content">
            {{ content }}
        </article>
      </div>
    </div>
  </div>
</div>
