<!DOCTYPE html>
<html lang="{{ site.lang }}">
  <head>
    {%- capture redirect_to %}
    {%- if page.external_redirect %}
      {{- page.external_redirect }}
    {%- else %}
      {%- if site.lang != 'en' %}/{{- site.lang }}{%- endif %}{{- page.redirect_to }}
    {%- endif %}
    {%- endcapture %}
    <script type="text/javascript">
        window.location.href = "{{ redirect_to }}";
    </script>
    <meta http-equiv="refresh" content="0; URL={{ redirect_to }}">
    {% include head.html %}
  </head>
  <body dir="auto">
    <a href="#main-content" class="visually-hidden-focusable skip-link">{% t generic.accessibility.skip-to-content %}</a>
    <div class="flex-grow-1">
      {% include nav.html %}
      <main id="main-content">
      <div class="container-fluid bg-body-tertiary py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-7">
              <h1 class="text-body fw-bold">{% t generic.redirect.title %}</h1>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid py-5">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-7">
              <article class="post-content">
                  <a href="{{ redirect_to }}">{% t generic.redirect.link %}</a>
                  <script>location='{{ redirect_to }}'</script>
              </article>
            </div>
          </div>
        </div>
      </div>
      </main>
    </div>
    {% include footer.html %}
  </body>
</html>

