---
layout: internal
title: titles.media-branding
---

<div class="container-fluid background-gray-100 py-4">
  <div class="container">
    <div class="row">
      <div class="col-md">
         <h1 class="color-gray-800 weight-700">{% t titles.media-branding %}</h1>
      </div>
    </div>
    <div class="row justify-content-start">
      <div class="col-md-5">
        <p class="color-gray-800 h3 pt-2">{% t media-branding.general.introduction %}</p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="container pt-5">
    <div class="row justify-content-between">
      <div class="col-md-8">
          {% for press-release in site.press-releases reversed %}
          {% if press-release.unlisted != true %}
          <div class="card mb-4">
            <a class="stretched-link" href="{{ site.baseurl }}{{ press-release.url | replace:'.html','' }}"></a>
              <div class="card-header text-muted text-uppercase border-bottom bg-transparent">{% t media-branding.press-releases.general.announcement %}</div>
              <div class="card-body">
                <h3 class="card-title">{% t press-release.title %}</h3>
                <!--<h5 class="card-subtitle mb-2 text-muted">{% t media-branding.press-releases.general.published %} 
                  {% capture month %}{{ press-release.date | date: "%b" }}{% endcapture %}
                  {% t month.{{ month }} %} {{ press-release.date | date: "%-d, %Y"}}</h5>-->
                <p class="card-text">{{ press-release.excerpt | strip_html | truncatewords: 50 }}</p>
              </a>
            </div>
          </div>
          {% endif %}
          {% endfor %}
      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-body">
            <div class="card-text">
              <p class="h4">{% t media-branding.general.core-principles %}</p>
              <a class="stretched-link float-right" href="{{ site.baseurl }}/about"></a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h4 class="card-title mb-0">{% t media-branding.general.logos.title %}</h4>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item bg-transparent">
              <a href="https://raw.githubusercontent.com/AntennaPod/Branding/master/Logo/logo-icon.svg" download="AntennaPod-icon.svg">
                {% include image.html
                  file="https://raw.githubusercontent.com/AntennaPod/Branding/master/Logo/logo-icon.svg"
                  max-height="2rem"
                %}
              </a>
              <br>
              {% t media-branding.general.logos.icon %}</li>
            <li class="list-group-item bg-transparent">
              <a href="https://raw.githubusercontent.com/AntennaPod/Branding/master/Logo/logo-full-horizontal-dark.svg" download="AntennaPod-full-horizontal-dark.svg">
              {% include image.html
                file="https://raw.githubusercontent.com/AntennaPod/Branding/master/Logo/logo-full-horizontal-dark.svg"
                max-height="2rem"
              %}
             </a>
             <br>
             {% t media-branding.general.logos.wordmark %}</li>
            <!--<li class="list-group-item bg-transparent">
              {% include image.html
                file="https://raw.githubusercontent.com/AntennaPod/Branding/master/Logo/logo-full-horizontal-dark.svg"
                max-height="2rem"
              %}<br>
             {% t media-branding.general.logos.logo-pack %}</li>-->
          </ul>
          <div class="card-body">
            <p><a href="https://github.com/AntennaPod/Branding/tree/master/Logo">{% t media-branding.general.logos.all-logos %}</a></p>
            <!--<p><a href="#">{% t media-branding.general.brand-guidelines %}</a></p>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
