name: autoreview
on: [pull_request]

jobs:
  misspellcheck:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - name: Run misspell with reviewdog
      uses: reviewdog/action-misspell@v1
      with:
        pattern: "*.md"
  build:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v1
      - run: sudo apt-get install ruby-full build-essential zlib1g-dev git
      - uses: actions/setup-ruby@v1
        with:
          ruby-version: '2.7.x'
      - run: gem install bundler jekyll --no-document
      - run: bundle install
      - run: bundle exec jekyll build
