name: links
on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 1 * *"

jobs:
  linkChecker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: sudo apt-get install ruby-full build-essential zlib1g-dev git
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.2.0'
      - run: gem install bundler jekyll --no-document
      - run: bundle install
      - run: bundle exec jekyll build
      - name: Link Checker
        id: lychee
        uses: lycheeverse/lychee-action@v2.7.0
        with:
          args: --verbose --max-concurrency 1 --retry-wait-time 30 './_site/**/*.html'
      - name: Create Issue From File
        if: failure()
        uses: peter-evans/create-issue-from-file@v6
        with:
          title: Link Checker Report
          content-filepath: ./lychee/out.md
          labels: bug
