name: Deploy

on:
  push:
    branches:
      - master
  # allow to run this workflow manually from the Actions tab
  workflow_dispatch:
  # run after translation updates workflow completes
  workflow_run:
    workflows: ["Work on main branch to pull new & updated translations from tf branch"]
    types:
      - completed
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.2'
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
      - run: bundle exec jekyll build
      - run: touch _site/.nojekyll
      - name: Deploy to gh-pages branch
        uses: JamesIves/github-pages-deploy-action@v4
        if: github.repository_owner == 'antennapod' # do not run on forks
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          branch: gh-pages
          folder: _site
          clean: true
